.nav {
  padding: 0 80px;
  display: flex;
  // height: 48px;
  min-height: 5vh;
  @media only screen and (max-width: 767px) {
    padding: 0 40px;
  }
  @media only screen and (max-width: 420px) {
    padding: 0;
  }
  &-mobile {
    @media only screen and(min-width:767px) {
      display: none;
    }
  }
  &-desktop {
    @media only screen and(max-width:767px) {
      display: none;
    }
  }

  &-sign {
    margin-left: auto;
  }
  .ant-skeleton-element {
    display: flex;
  }
  .ant-menu-item.ant-menu-item-only-child > .anticon,
  .ant-menu-submenu-title.ant-menu-item-only-child > .anticon {
    margin-right: 10px;
    padding-top: 2px;
  }
}
