body {
  /* font-family: 'Open Sans Condensed'; */
  /* padding: 20px 40px; */
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 15px 100px;
  background-color: white;
  min-height: 95vh;
  /* margin: 20px; */
}
@media only screen and (max-width: 767px) {
  .App {
    padding: 15px 60px;
  }
}

@media only screen and (max-width: 420px) {
  .App {
    padding: 15px 20px;
  }
}
