.HomePage-skeleton {
  width: 50%;
  min-width: 400px;
  @media (max-width: 600px) {
    min-width: 100%;
  }
  .ant-skeleton-content .ant-skeleton-title {
    height: 46px;
  }
  .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
  .ant-skeleton.ant-skeleton-active
    .ant-skeleton-content
    .ant-skeleton-paragraph
    > li {
    animation: ant-skeleton-loading 0.4s ease infinite;
  }
}
