.donate {
  display: flex;
  flex-direction: column;
  // max-width: 200px;
  justify-content: space-evenly;
  align-items: center;
  margin: 4vh auto;
  // min-height: 100vh;
color: #b3b3b3;

  .donateContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  span {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
  }
}
