.question {
  width: 50%;
  min-width: 400px;
  @media (max-width: 600px) {
    min-width: 100%;
  }
  .f {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
  }
  &_footer {
    &-rating {
      width: 200px;
    }
    &-number {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
      height: 18px;
    }
    &-icon {
      width: 44px;
    }
    &-vote {
      width: 110px;
    }
  }
  .ant-collapse-content > .ant-collapse-content-box {
    display: flex;
    flex-direction: column;
    line-height: 20px;
  }
  .public-DraftEditor-content {
    max-height: 160px;
    overflow: scroll;
    cursor: all-scroll;
    font-size: 14px;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}
