.questionContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // margin: 50px auto;
  &-pagination {
    margin-left: auto;
    // padding-bottom: 40px;
    min-height: 5vh;
    @media (max-width: 767px) {
      margin: 0 auto;
    }
    .ant-pagination-total-text {
      display: block;
    }
  }
}
