.previewBtn {
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto;
}
.approve {
  .approveHeading {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin: 40px auto;
    color: red;
  }
}
